* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-right: 100px;
}

.nav-links li {
    margin: 0 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e7756d;
}

/* Mobile menu button */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
}
